<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head(title='Others')"></head>

<style>
  .badge {
    font-size: medium;
    padding: 0.45em;
  }
</style>

<body>

  <navbar th:replace="layout/navbar :: navbar"></navbar>

  <main role="main">

    <jumbotron th:replace="layout/jumbotron :: jumbotron(jumbotronTitle='Others')"></jumbotron>

    <div class="container">

      <div class="col">

        <ul class="list-unstyled">

          <li th:each="account : ${accounts}">
            <div class="row mb-3">

              <div class="col-md-6">

                <div class="row">

                  <div class="col-md-auto">
                    <chip th:replace="components/chip.html :: chip(account=${account})"></chip>
                  </div>

                  <div class="col my-auto">
                    <!-- Following -->
                    <a>
                      <button class="btn btn-sm btn-round btn-outline-secondary col-md-auto"
                              th:text="|📤 ${account.getFollowing().size()}|">
                      </button>
                    </a>

                    <!-- Followers -->
                    <a>
                      <button class="btn btn-sm btn-round btn-outline-secondary col-md-auto"
                              th:text="|📥 ${account.getFollowers().size()}|">
                      </button>
                    </a>

                    <!-- Photos -->
                    <a th:href="@{/accounts/{username}/photos(username=${account.username})}">
                      <button class="btn btn-sm btn-round btn-outline-secondary col-md-auto"
                              th:text="|🖼 ${account.getPhotos().size()}|">
                      </button>
                    </a>
                  </div>

                </div>
              </div>

              <div class="col-md-6 mt-1 my-md-auto">
                <follow-unfollow th:replace="components/follow-unfollow.html :: follow-unfollow(isRound=${true})"></follow-unfollow>
              </div>

            </div>
          </li>
        </ul>
      </div>

    </div>

  </main>

  <footer th:replace="layout/footer :: footer"></footer>

</body>

</html>