<head th:fragment="head"
      lang="en">
    <title th:text="${title}">Title</title>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="/webjars/bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>