<accounts-modal>

  <div class="modal fade"
       id="accounts-modal"
       tabindex="-1"
       aria-labelledby="accounts-modal"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"
              id="accounts-modal-title">Modal title</h5>
          <button type="button"
                  class="btn-close"
                  data-dismiss="modal"
                  aria-label="Close"></button>
        </div>

        <div class="modal-body">
          ...
        </div>

        <div class="modal-footer">
          <button type="button"
                  class="btn btn-block btn-secondary"
                  data-dismiss="modal">Close</button>
          <button type="button"
                  class="btn btn-block btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</accounts-modal>