<accounts-modal>

  <style>
    .small-profile-picture {
      height: 40px;
      min-height: 40px;
      width: 40px;
      min-width: 40px;
    }
  </style>

  <div class="modal fade"
       th:id="${id}"
       tabindex="-1"
       aria-labelledby="accounts-modal"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"
              id="accounts-modal-title"
              th:text="${title}">
          </h2>
          <button type="button"
                  class="btn btn-close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span class="h3"
                  aria-hidden="true">🤯</span>
          </button>
        </div>

        <div class="modal-body">
          <ul class="list-unstyled">

            <li th:each="account : ${accounts}"
                class="media mb-3">

              <img class="mr-3 small-profile-picture"
                   th:src="@{|/photos/${account.profilePicture.id}/content|}"
                   alt="avatar">

              <div class="media-body">

                <a th:href="@{|/accounts/${account.username}|}"
                   th:text="${account.username}"
                   class="h5 mr-3">
                </a>

                <span>
                  <!-- Following -->
                  <button class="btn btn-lg p-0 btn-link">
                    <a class="badge bg-info badge-pill text-white"
                       th:text="|${account.getFollowing().size()} following|"></a>
                  </button>

                  <!-- Followers -->
                  <button class="btn btn-lg p-0 btn-link">
                    <a class="badge bg-primary badge-pill text-white"
                       th:text="|${account.getFollowers().size()} followers|"></a>
                  </button>

                  <!-- Photos -->
                  <button type="button"
                          class="btn btn-lg p-0 btn-link">
                    <a class="badge bg-secondary badge-pill text-white"
                       th:text="|${account.getPhotos().size()} photos|"
                       th:href="@{/accounts/{username}/photos(username=${account.username})}"></a>
                  </button>
                </span>


              </div>
              <hr>
            </li>

          </ul>
        </div>


      </div>
    </div>
  </div>

</accounts-modal>

<!-- <div class="modal-footer">
  <button type="button"
          class="btn btn-block btn-secondary"
          data-dismiss="modal">Close</button>
  <button type="button"
          class="btn btn-block btn-primary">Save changes</button>
</div> -->