<add-photo>

    <div th:if="${canAddPhoto}" class="card mb-4">

        <div class="card-header">
            <h2>Add a new photo</h2>
        </div>

        <div class="card-body">
            <form method="POST"
                  th:action="@{|/accounts/${currentAccount.username}/photos|}"
                  enctype="multipart/form-data">

                <div class="form-group">
                    <div class="custom-file">
                        <input type="file"
                               class="custom-file-input"
                               id="file"
                               name="file">
                        <label class="custom-file-label"
                               for="customFile">Choose a file</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Include a description of your photo.</label>
                    <textarea class="form-control"
                              id="description"
                              name="description"
                              rows="3"
                              required
                              minlength="1"
                              maxlength="200"></textarea>
                </div>

                <button type="submit"
                        class="btn btn-block btn-outline-primary">Submit
                </button>
            </form>
        </div>

    </div>

</add-photo>