<comment>

  <div class="media border mb-1 p-3">
    <img th:if="${comment.sender.profilePicture}"
         th:src="@{|/photos/${comment.sender.profilePicture.id}/content|}"
         class="mr-3 comment-avatar">

    <div class="media-body">
      <div class="d-flex justify-content-between">
        <a class="h5"
           th:href="@{|/accounts/${comment.sender.username}|}"
           th:text="${comment.sender.username}"></a>
        <small class="timestamp h5 text-muted"
               th:text="${comment.timestamp}"></small>
      </div>
      <p th:text="${comment.content}"></p>
    </div>

  </div>

</comment>