<comment>

  <style>
    .comment-avatar {
      width: 60px;
      height: 60px;
    }
  </style>

  <div class="media border mb-1 p-3">
    <img th:if="${comment.sender.profilePicture}"
         th:src="@{|/photos/${comment.sender.profilePicture.id}/content|}"
         class="mr-3 comment-avatar">

    <div class="media-body">
      <div class="d-flex justify-content-between">
        <a class="h5"
           th:href="@{|/accounts/${comment.sender.username}|}"
           th:text="${comment.sender.username}"></a>
        <span class="timestamp text-muted"
              th:text="${comment.timestamp}"></span>
      </div>
      <span th:text="${comment.content}"></span>
    </div>

  </div>

</comment>