<comment class="row border p-3 mb-1">

  <img th:src="@{|/photos/${comment.sender.profilePicture.id}/content|}"
       alt="Avatar"
       class="me-3 rounded-circle comment-avatar">

  <div class="col">
    <div class="row">
      <h5 class="col"
          th:text="${comment.sender.username}"></h5>
      <small class="col-auto timestamp h5 text-muted"
             th:text="${comment.timestamp}"></small>
    </div>
    <div class="row">
      <p th:text="${comment.content}"></p>
    </div>
  </div>

</comment>

<!-- <comment class="d-flex border p-3 mb-1">

  <img th:src="@{|/photos/${comment.sender.profilePicture.id}/content|}"
       alt="Avatar"
       class="flex-shrink-0 me-3 rounded-circle comment-avatar">

  <div>
    <div class="row">
      <h5 class="col"
          th:text="${comment.sender.username}"></h5>
      <small class="col-auto timestamp h5 text-muted" th:text="${comment.timestamp}"></small>
    </div>
    <!-- If it works, it works. 🚀 -->


<p th:text="${comment.content}"></p>
</div>

</comment> -->