<new-comment th:id="|new-comment-${photo.id}|"
             class="card mb-2 collapse">

  <new-comment-header class="card-header py-1">

    <style>
      .new-comment-profile-picture {
        height: 25px;
        min-height: 25px;
        width: 25px;
        min-width: 25px;
      }
    </style>

    <div class="row">
      <div class="col">
        <span class="header-text text-muted">From: </span>
        <img class="img-fluid rounded-circle new-comment-profile-picture"
             th:if="${currentAccount.profilePicture}"
             th:src="@{|/photos/${currentAccount.profilePicture.id}/content|}"
             alt="profile-picture">
        <span class="header-text"
              th:text="${currentAccount.username}"></span>
      </div>

      <div class="col">
        <span class="header-text text-muted">To: </span>
        <img class="img-fluid rounded-circle new-comment-profile-picture"
             th:if="${account.profilePicture}"
             th:src="@{|/photos/${account.profilePicture.id}/content|}">
        <span class="header-text"
              th:text="${account.username}"></span>
      </div>
    </div>

  </new-comment-header>

  <form th:action="@{|/accounts/${account.username}/photos/${photo.id}/comment|}"
        method="POST">

    <div class="card-body p-0">
      <textarea name="content"
                class="form-control"
                placeholder="Type out a comment."
                required></textarea>
    </div>

    <div class="card-footer justify-content-between">
      <div class="d-grid gap-2 mx-auto">

        <button class="btn btn-outline-success"
                type="submit">Send</button>

        <button th:data-bs-target="|#new-comment-${photo.id}|"
                data-bs-toggle="collapse"
                class="btn btn-outline-danger"
                type="reset">Cancel</button>
      </div>
    </div>

  </form>

</new-comment>