<new-comment th:id="|new-comment-${photo.id}|"
             class="card mb-2 collapse">

  <new-message-header
                      th:replace="components/new-message-header.html :: new-message-header(sender=${currentAccount}, recipient=${account})">
  </new-message-header>

  <form th:action="@{|/accounts/${account.username}/photos/${photo.id}/comment|}"
        method="POST">

    <div class="card-body p-0">
      <textarea name="content"
                class="form-control"
                placeholder="Type out a comment."
                required></textarea>
    </div>

    <div class="card-footer justify-content-between">

      <button class="btn btn-block btn-outline-success"
              type="submit">Send</button>

      <button th:data-target="|#new-comment-${photo.id}|"
              data-toggle="collapse"
              class="btn btn-block btn-outline-danger"
              type="reset">Cancel</button>
    </div>

  </form>

</new-comment>