<pagination>

  <nav class="mt-1">

    <ul class="pagination justify-content-center">

      <li class="page-item"
          th:classappend="${page.hasPrevious()} ? '' : 'disabled'">
        <a class="page-link"
           th:href="|?pageNumber=${page.getNumber() - 1}|"
           aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <li th:each="i : ${#numbers.sequence(0, page.getTotalPages() - 1)}"
          class="page-item"
          th:classappend="${page.getNumber() == i} ? 'active' : ''">
        <a class="page-link"
           th:href="|?pageNumber=${i}|"
           th:text="${i}">
        </a>
      </li>

      <li class="page-item"
          th:classappend="${page.hasNext()} ? '' : 'disabled'">
        <a class="page-link"
           aria-label="Next"
           th:href="|?pageNumber=${page.getNumber() + 1}|">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>

    </ul>

  </nav>

</pagination>