<pagination>
    <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page"*/-->

    <nav class="mt-1">

        <div class="row">

            <div class="col-sm-auto">
                <form method="GET">
                    <input type="hidden" name="page" th:value="${page.getNumber()}"/>
                    <select class="form-control mr-1"
                            name="size"
                            onchange="this.form.submit()">
                        <option th:each="size : ${pageSizes}"
                                th:selected="${size == page.getSize()}"
                                th:value="${size}"
                                th:text="${size}">
                        </option>
                    </select>
                </form>
            </div>

            <div class="col">
                <ul th:if="${page.getTotalPages() > 1}"
                    class="pagination justify-content-end">

                    <li class="page-item"
                        th:classappend="${page.hasPrevious()} ? '' : 'disabled'">
                        <a class="page-link"
                           th:href="@{''(size=${page.getSize()}, page=${page.getNumber() - 1})}">
                            &laquo;
                        </a>
                    </li>

                    <li th:each="i : ${#numbers.sequence(0, page.getTotalPages() - 1)}"
                        class="page-item"
                        th:classappend="${page.getNumber() == i} ? 'active' : ''">
                        <a class="page-link"
                           th:href="@{''(size=${page.getSize()}, page=${i})}"
                           th:text="${i + 1}">
                        </a>
                    </li>

                    <li class="page-item"
                        th:classappend="${page.hasNext()} ? '' : 'disabled'">
                        <a class="page-link"
                           th:href="@{''(size=${page.getSize()}, page=${page.getNumber() + 1})}">
                            &raquo;
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>


</pagination>