<div th:fragment="jumbotron"
     class="jumbotron jumbotron-fluid">

  <style>
    .jumbotron {
      padding: 4rem 2rem;
      margin-bottom: 2rem;
      background-color: #e9ecef;
      border-radius: .3rem;
    }
  </style>

  <div class="container">

    <p class="display-4 mb-4"
       th:text="${jumbotronTitle}"></p>

    <div class="col btn-group px-0"
         role="group">
      <a type="button"
         class="btn btn-outline-secondary"
         th:classappend="${view == 'profile' ? 'active' : ''}"
         th:href="@{|/accounts/${account.username}|}">Profile</a>
      <a type="button"
         class="btn btn-outline-secondary"
         th:classappend="${view == 'photos' ? 'active' : ''}"
         th:href="@{|/accounts/${account.username}/photos|}">Photos
      </a>
      <button type="button"
              class="btn btn-outline-secondary disabled">Activity</button>
    </div>

  </div>

</div>