<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head(title=${account.username})"></head>

<body>

  <style>
    .badge-pill {
      font-size: large
    }
  </style>

  <navbar th:replace="layout/navbar :: navbar"></navbar>

  <main role="main">

    <jumbotron th:replace="layout/jumbotron :: jumbotron(jumbotronTitle=|${account.username}'s profile|)">
    </jumbotron>

    <div class="container">
      <div class="row">

        <!-- Profile information -->
        <div class="col-md-4">

          <!-- Picture -->
          <div th:if="${account.hasProfilePicture()}"
               class="row justify-content-center">
            <a th:href="@{|/accounts/${account.username}/photos/${account.profilePicture.id}|}">
              <img class="img-fluid img-thumbnail rounded-circle mt-n5 profile-picture"
                   th:src="@{|/photos/${account.profilePicture.id}/content|}"
                   alt="profile-picture">
            </a>
          </div>

          <div th:if="${!account.hasProfilePicture()}"
               class="row justify-content-center">
            <img class="img-fluid img-thumbnail rounded-circle mt-n5"
                 th:src="@{https://thispersondoesnotexist.com}">
          </div>

          <h2 th:text="${account.username}"></h2>

          <profile-pills
                         th:replace="components/profile-pills.html :: profile-pills(account=${account}, tweets=${tweets})">
          </profile-pills>

          <div th:if="${currentAccount != account}"
               class="my-3">
            <follow-unfollow th:replace="components/follow-unfollow.html :: follow-unfollow"></follow-unfollow>
          </div>

        </div>

        <!-- Tweets -->
        <div class="col-md-8">
          <h2>Tweets</h2>

          <button data-toggle="collapse"
                  data-target="new-tweet"
                  class="btn btn-block btn-outline-primary mb-2">Leave a tweet!</button>

          <new-tweet th:replace="components/new-tweet.html :: new-tweet"></new-tweet>

          <div th:each="tweet : ${page}">
            <tweet th:replace="components/tweet.html :: tweet(tweet=${tweet})"></tweet>
          </div>

          <pagination th:replace="components/pagination.html :: pagination(page=${page})"></pagination>

        </div>

      </div>

    </div>

  </main>

  <footer th:replace="layout/footer :: footer"></footer>

  <followers-modal
                   th:replace="components/accounts-modal.html :: accounts-modal(accounts=${followers}, id='followers-modal', title=|${account.username}'s followers|)">
  </followers-modal>

  <following-modal
                   th:replace="components/accounts-modal.html :: accounts-modal(accounts=${following}, id='following-modal', title=|${account.username} is following|)">
  </following-modal>

</body>

</html>

<script src="https://MomentJS.com/downloads/moment.js"></script>
<script>
  // If it works, it works. 🚀
  Array.from(document.getElementsByClassName('timestamp'))
    .forEach(t => t.textContent = moment(t.textContent).fromNow());
</script>