<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head(title='Others')"></head>

<style>
  .badge {
    font-size: medium;
    padding: 0.45em;
  }
</style>

<body>

  <navbar th:replace="layout/navbar :: navbar"></navbar>

  <main role="main">

    <jumbotron th:replace="layout/jumbotron :: jumbotron(jumbotronTitle='Others')"></jumbotron>

    <div class="container">

      <div class="col">

        <ul class="list-unstyled">

          <li th:each="account : ${accounts}">
            <div class="row mb-3">
              <div class="col-md-6">

                <div class="row">

                  <div class="col-md-auto">
                    <chip th:replace="components/chip.html :: chip(account=${account})"></chip>
                  </div>

                  <div class="col my-auto">
                    <!-- Following -->
                    <a class="badge bg-info badge-pill text-white col-md-auto"
                       th:text="|${account.getFollowing().size()} following|"></a>

                    <!-- Followers -->
                    <a class="badge bg-primary badge-pill text-white col-md-auto"
                       th:text="|${account.getFollowers().size()} followers|"></a>

                    <!-- Photos -->
                    <a class="badge bg-secondary badge-pill text-white col-md-auto"
                       th:text="|${account.getPhotos().size()} photos|"
                       th:href="@{/accounts/{username}/photos(username=${account.username})}"></a>
                  </div>

                </div>
              </div>

              <div class="col-md-6 mt-1 mt-md-0">
                <follow-unfollow th:replace="components/follow-unfollow.html :: follow-unfollow"></follow-unfollow>
              </div>
            </div>
      </div>
      </li>

      </ul>

    </div>
    </div>

  </main>

  <footer th:replace="layout/footer :: footer"></footer>

</body>

</html>

<style>
  .small-profile-picture {
    height: 40px;
    min-height: 40px;
    width: 40px;
    min-width: 40px;
  }
</style>