.btn-round {
  border-radius: 1rem;
}

.img-thumbnail {
  width: 100%;
}

.emoji {
  font-size: x-large;
  padding: 0;
}

.badge-pill {
  font-size: large
}

.small-profile-picture {
  height: 40px;
  min-height: 40px;
  width: 40px;
  min-width: 40px;
}