<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(title=${account.username})"></head>

<body>

  <navbar th:replace="fragments/navbar :: navbar"></navbar>

  <main role="main">

    <jumbotron th:replace="fragments/jumbotron :: jumbotron(jumbotronTitle=|${account.username}'s profile|)">
    </jumbotron>

    <div class="container">
      <div class="row">

        <!-- Profile information -->
        <div class="col-md-4">

          <!-- Picture -->
          <div th:if="${account.hasProfilePicture()}"
               class="row justify-content-center">
            <img class="img-fluid img-thumbnail rounded-circle mt-n5"
                 th:src="@{|/photos/${account.profilePicture.id}/content|}"
                 alt="profile-picture">
          </div>

          <div th:if="${!account.hasProfilePicture()}"
               class="row justify-content-center">
            <img class="img-fluid img-thumbnail rounded-circle mt-n5"
                 th:src="@{https://thispersondoesnotexist.com/image}">
          </div>

          <h2 th:text="${account.username}"></h2>

          <!-- Following -->
          <button class="btn btn-lg p-0 btn-link">
            <a data-toggle="modal"
               data-target="#following-modal"
               class="badge bg-info badge-pill text-white"
               th:text="|${account.getFollowing().size()} following|"></a>
          </button>

          <!-- Followers -->
          <button class="btn btn-lg p-0 btn-link">
            <a data-toggle="modal"
               data-target="#followers-modal"
               class="badge bg-primary badge-pill text-white"
               th:text="|${account.getFollowers().size()} followers|"></a>
          </button>

          <!-- Photos -->
          <button type="button"
                  class="btn btn-lg p-0 btn-link">
            <a class="badge bg-secondary badge-pill text-white"
               th:text="|${account.getPhotos().size()} photos|"
               th:href="@{/accounts/{username}/photos(username=${account.username})}"></a>
          </button>

        </div>

        <!-- Tweets -->
        <div class="col-md-8">
          <h2>Tweets</h2>


          <button data-toggle="collapse"
                  data-target="new-tweet"
                  class="btn btn-block btn-outline-primary mb-2">Leave a tweet!</button>

          <new-tweet th:replace="components/new-tweet.html :: new-tweet"></new-tweet>

          <div th:each="tweet : ${tweets}">
            <tweet th:replace="components/tweet.html :: tweet(tweet=${tweet})"></tweet>
          </div>

        </div>

      </div>

    </div>

  </main>

  <footer th:replace="fragments/footer :: footer"></footer>

  <followers-modal
                   th:replace="components/accounts-modal.html :: accounts-modal(accounts=${followers}, id='followers-modal', title=|${account.username}'s followers|)">
  </followers-modal>

  <following-modal
                   th:replace="components/accounts-modal.html :: accounts-modal(accounts=${following}, id='following-modal', title=|${account.username} is following|)">
  </following-modal>

</body>

</html>
<script src="https://MomentJS.com/downloads/moment.js"></script>
<script>
  // If it works, it works. 🚀
  Array.from(document.getElementsByClassName('timestamp'))
    .forEach(t => t.textContent = moment(t.textContent).fromNow());
</script>