<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(title=${account.username})"></head>

<body>

  <navbar th:replace="fragments/navbar :: navbar"></navbar>

  <main role="main">

    <jumbotron th:replace="fragments/jumbotron :: jumbotron(jumbotronTitle=|${account.username}'s profile|)">
    </jumbotron>

    <div class="container">
      <div class="row">

        <!-- Profile information -->
        <div class="col-md-4">

          <!-- Picture -->
          <div th:if="${account.hasProfilePicture()}"
               class="row justify-content-center">
            <img class="img-fluid img-thumbnail rounded-circle mt-n5"
                 th:src="@{|/photos/${account.profilePicture.id}/content|}"
                 alt="profile-picture">
          </div>

          <div th:if="${!account.hasProfilePicture()}"
               class="row justify-content-center">
            <img class="img-fluid img-thumbnail rounded-circle mt-n5"
                 th:src="@{https://thispersondoesnotexist.com/image}">
          </div>

          <h2 th:text="${account.username}"></h2>

          <!-- Following -->
          <a class="h5"
             th:href="@{|/accounts/${username}/following|}">
            <span class="badge bg-info rounded-pill text-white"
                  th:text="|${account.getFollowing().size()} following|"></span>
          </a>

          <!-- Followers -->
          <a class="h5"
             th:href="@{/accounts/{username}/followers(username=${account.username})}">
            <span class="badge bg-success rounded-pill text-white"
                  th:text="|${account.getFollowers().size()} followers|"></span>
          </a>

          <!-- Photos -->
          <a class="h5"
             th:href="@{/accounts/{username}/photos(username=${account.username})}">
            <span class="badge bg-secondary rounded-pill text-white"
                  th:text="|${account.getPhotos().size()} photos|"></span>
          </a>

          <!-- Modal -->
          <span data-bs-toggle="modal"
                data-bs-target="#accounts-modal"
                class="h5 badge bg-secondary rounded-pill text-white">
            Modaali
          </span>

        </div>

        <!-- Tweets -->
        <div class="col-md-8">
          <h2>Tweets</h2>

          <div class="d-grid gap-2 mx-auto">
            <button data-bs-toggle="collapse"
                    data-bs-target="new-tweet"
                    class="btn btn-outline-primary mb-2">Leave a tweet!</button>
          </div>
          <new-tweet th:replace="components/new-tweet.html :: new-tweet"></new-tweet>

          <div th:each="tweet : ${tweets}">
            <tweet th:replace="components/tweet.html :: tweet(tweet=${tweet})"></tweet>
          </div>

        </div>

      </div>

    </div>

  </main>

  <footer th:replace="fragments/footer :: footer"></footer>

  <accounts-modal th:replace="components/accounts-modal.html :: accounts-modal"></accounts-modal>

</body>

</html>
<script src="https://MomentJS.com/downloads/moment.js"></script>
<script>
  // If it works, it works. 🚀
  Array.from(document.getElementsByClassName('timestamp'))
    .forEach(t => t.textContent = moment(t.textContent).fromNow());
</script>