<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(title='Others')"></head>

<body>

  <navbar th:replace="fragments/navbar :: navbar"></navbar>

  <main role="main">

    <jumbotron th:replace="fragments/jumbotron :: jumbotron(jumbotronTitle='Others')"></jumbotron>

    <div class="container">
      <div class="col">

        <div class="row"
             th:each="account : ${accounts}">

          <div class="col-auto">
            <img class="img-fluid rounded-circle small-profile-picture"
                 th:if="${account.profilePicture}"
                 th:src="@{|/photos/${account.profilePicture.id}/content|}">

            <a th:href="@{|/accounts/${account.username}|}">
              <span class="form-label"
                     th:text="${account.username}"></span>
            </a>
          </div>

          <div class="col-auto">
            <form class="form"
                  th:action="@{|/accounts/${account.username}/follow|}"
                  method="POST">
              <button class="btn btn-outline-primary"
                      type="submit">
                Follow
              </button>
            </form>
          </div>




        </div>

      </div>
    </div>

  </main>

  <footer th:replace="fragments/footer :: footer"></footer>

</body>

</html>

<style>
  .small-profile-picture {
    height: 40px;
    min-height: 40px;
    width: 40px;
    min-width: 40px;
  }
</style>


<!-- Unfollow -->
<!-- <form th:if="currentAccount.getFollowing()" class="form"
                      th:action="@{/accounts/{username}/follow(username=${account.username})}"
                      method="POST">
                  <button class="btn btn-primary"
                          type="submit">
                    Follow
                  </button>
                </form> -->