<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(title='Others')"></head>

<body>

  <navbar th:replace="fragments/navbar :: navbar"></navbar>

  <main role="main">

    <jumbotron th:replace="fragments/jumbotron :: jumbotron(jumbotronTitle='Others')"></jumbotron>

    <div class="container">
      <div class="col">

        <ul class="list-unstyled">

          <li th:each="account : ${accounts}"
              class="media mb-3">

            <img class="mr-3 small-profile-picture"
                 th:src="@{|/photos/${account.profilePicture.id}/content|}"
                 alt="avatar">

            <div class="media-body d-flex">

              <div class="col-auto">
                <a th:href="@{|/accounts/${account.username}|}"
                   th:text="${account.username}"
                   class="h5 mr-3">
                </a>
              </div>


              <div class="col">
                <!-- Following -->
                <button class="btn btn-lg p-0 btn-link">
                  <a class="badge bg-info badge-pill text-white"
                     th:text="|${account.getFollowing().size()} following|"></a>
                </button>

                <!-- Followers -->
                <button class="btn btn-lg p-0 btn-link">
                  <a class="badge bg-primary badge-pill text-white"
                     th:text="|${account.getFollowers().size()} followers|"></a>
                </button>

                <!-- Photos -->
                <button type="button"
                        class="btn btn-lg p-0 btn-link">
                  <a class="badge bg-secondary badge-pill text-white"
                     th:text="|${account.getPhotos().size()} photos|"
                     th:href="@{/accounts/{username}/photos(username=${account.username})}"></a>
                </button>
              </div>

              <div class="col">
                <follow-unfollow th:replace="components/follow-unfollow.html :: follow-unfollow"></follow-unfollow>
              </div>

            </div>
          </li>

        </ul>

      </div>
    </div>

  </main>

  <footer th:replace="fragments/footer :: footer"></footer>

</body>

</html>

<style>
  .small-profile-picture {
    height: 40px;
    min-height: 40px;
    width: 40px;
    min-width: 40px;
  }
</style>