<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(title=|Photos of ${currentAccount.username}|)"></head>

<body>

  <navbar th:replace="fragments/navbar :: navbar"></navbar>

  <jumbotron th:replace="fragments/jumbotron :: jumbotron(jumbotronTitle=|${account.username}'s photos|)"></jumbotron>

  <div class="container">

    <div class="col">

      <div th:if="${#lists.isEmpty(account.getPhotos()) && !account.equals(currentAccount)}">
        <div class="alert alert-primary mb-3"
             role="alert">User hasn't uploaded any images!</div>
      </div>

      <div th:each="photo : ${account.getPhotos()}">
        <div class="card mt-2">
          <div class="card-body">
            <div class="row">

              <div class="col-md">
                <img class="img-thumbnail"
                     th:src="@{|/photos/${photo.id}/content|}">

                <form method="POST"
                      th:action="@{/my-photos/set-profile-picture}">
                  <input type="hidden"
                         th:value="${photo.id}"
                         name="photoId">
                  <button type="submit"
                          class="btn btn-block btn-outline-primary">Set as profile picture</button>
                </form>
              </div>

              <div class="col-md">
                <span th:text="${photo.description}"></span>
              </div>

            </div>
          </div>
        </div>

      </div>

      <div th:if="${account.equals(currentAccount)}"
           class="card mt-3">

        <div class="card-header">
          <h2>Add a new photo</h1>
        </div>

        <div class="card-body">

          <form method="POST"
                th:action="@{|/accounts/${currentAccount.username}/photos|}"
                enctype="multipart/form-data">

            <div class="form-group">
              <div class="custom-file">
                <input type="file"
                       class="custom-file-input"
                       id="file"
                       name="file">
                <label class="custom-file-label"
                       for="customFile">Choose a file</label>
              </div>
            </div>

            <div class="form-group">
              <label for="description">Include a description for your photo.</label>
              <textarea class="form-control"
                        id="description"
                        name="description"
                        rows="3"
                        required
                        minlength="1"
                        maxlength="200"></textarea>
            </div>

            <button type="submit"
                    class="btn btn-outline-primary btn-block">Submit</button>
          </form>
        </div>

      </div>

    </div>

</body>

</html>