<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(title=|Photos of ${currentAccount.username}|)"></head>

<body>

  <navbar th:replace="fragments/navbar :: navbar"></navbar>

  <jumbotron th:replace="fragments/jumbotron :: jumbotron(jumbotronTitle=|${account.username}'s photos|)"></jumbotron>

  <div class="container">



    <div th:if="${#lists.isEmpty(account.photos) && account != currentAccount}">
      <div class="alert alert-primary mb-3"
           role="alert">User hasn't uploaded any images!</div>
    </div>

    <div th:each="photo : ${account.photos}">
      <div class="card mt-2">
        <div class="card-body">
          <div class="row">

            <div class="col-md">
              <img class="img-thumbnail"
                   th:src="@{|/photos/${photo.id}/content|}">

              <div th:if="${currentAccount == account}">
                <form th:if="${photo != currentAccount.profilePicture}"
                      method="POST"
                      th:action="@{/my-photos/set-profile-picture}">
                  <input type="hidden"
                         th:value="${photo.id}"
                         name="photoId">
                  <button type="submit"
                          class="btn btn-block btn-outline-primary">Set as profile picture</button>
                </form>

                <form th:if="${currentAccount == account}"
                      method="POST"
                      th:action="@{/my-photos/delete-picture}">
                  <input type="hidden"
                         th:value="${photo.id}"
                         name="photoId">
                  <button id="delete-picture-button"
                          type="submit"
                          class="btn btn-block btn-outline-danger">Delete</button>
                </form>
              </div>

              <div th:if="${currentAccount != account}">
                <form th:if="${!photo.likers.contains(currentAccount)}"
                      method="POST"
                      th:action="@{|photos/${photo.id}/like|}">
                  <button type="submit"
                          class="btn btn-block btn-outline-success">Like</button>
                </form>

                <form method="POST"
                      th:action="@{|/photos/${photo.id}/comment|}">
                  <button type="submit"
                          class="btn btn-block btn-outline-primary">Comment</button>
                </form>
              </div>

            </div>

            <div class="col-md">
              <span th:text="${photo.description}"></span>
              <hr>
              <p th:text="|Likes: ${photo.likers.size()}|"></p>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div th:if="${account == currentAccount && currentAccount.photos.size() < 5}"
         class="card mt-3 mb-3">

      <div class="card-header">
        <h2>Add a new photo</h1>
      </div>

      <div class="card-body">
        <form method="POST"
              th:action="@{|/accounts/${currentAccount.username}/photos|}"
              enctype="multipart/form-data">

          <div class="form-group">
            <div class="custom-file">
              <input type="file"
                     class="custom-file-input"
                     id="file"
                     name="file">
              <label class="custom-file-label"
                     for="customFile">Choose a file</label>
            </div>
          </div>

          <div class="form-group">
            <label for="description">Include a description of your photo.</label>
            <textarea class="form-control"
                      id="description"
                      name="description"
                      rows="3"
                      required
                      minlength="1"
                      maxlength="200"></textarea>
          </div>

          <button type="submit"
                  class="btn btn-outline-primary btn-block">Submit</button>
        </form>
      </div>

    </div>

    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bs-custom-file-input/1.1.1/bs-custom-file-input.min.js"></script>

    <script>
      window.addEventListener('DOMContentLoaded', () => {
        bsCustomFileInput.init();
        const del = document.getElementById('delete-picture-button');
        if (del)
          del.onclick = () => {
            if (!confirm("Are you sure you want to delete this photo?"))
              event.preventDefault();
          };
      });
    </script>

</body>

</html>